/* Solo para páginas con layout projects */
body.projects details {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fafafa;
}

body.projects summary {
    font-weight: bold;
    cursor: pointer;
}
